# Relabeling and Preprocessing of Raw Fatty Alcohol Titers

This notebook is for taking the raw data, re-labeling the sequences with the new block notation (ACR-> ACR and numeric to alphabetical notation for the chimeras), and adding the full sequence of the enzyme.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

First, load the table of sequences and the block dictionary, and then add additional columns to the block dictionary to contain the sequence information.

In [2]:
#Load the table of sequences
seq_tab=pd.read_excel('Sequence_Table.xlsx',index_col=0)
seq_tab.head()

,MBP_Tag,AHR_Domain,1,2,3,4,5,6,7,8
Parent,,,,,,,,,,
A,MKIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKVTVEHPDKLEE...,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,WERNLDPDLFKDRTLKGTVEGKVCV,VTGATSGIGLATAEKLAEAGAILVIGARTKETLDEVAASLEAKGGN...,DMDDCDRFVKTVLDNHGHVDVLVNN,AGRSIRRSLALSFDRFHDFERTMQLNY,FGSVRLIMGFAPAMLERRRGHVVNISSIGVLTNAPRFSAYVSSKSA...,TTINMPLVKTPMIAPTKIYDSVPT,LTPDEAAQMVADAIVYRPKRIATRLGVFAQVLHALAPKMGEIIMNT...,FPDSPAAAGSKSGEKPKVSTEQVAFAAIMRGIYW
B,MKIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKVTVEHPDKLEE...,NYFVTGGTGFIGRFLIAKLLARGAIVHVLVREQSVQKLADLREKLG...,WERNLDPDLFKDRTLRGTVEGKVCV,VTGATSGIGLATAEKLADAGAILVIGARTQETLDQVSAQLNARGAD...,DMDACDRFIQTVSENHGAVDVLINN,AGRSIRRSLDKSFDRFHDFERTMQLNY,FGSLRLIMGFAPAMLERRRGHIINISSIGVLTNSPRFSAYVASKSA...,TTINMPLVKTPMIAPTKIYDSVPT,LSPEEAADMVVNAIVYRPKRIATRMGVFAQVLNAVAPKASEILMNT...,FPDSMPKKGKEVSAEKGASTDQVAFAAIMRGIHW
T,MKIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKVTVEHPDKLEE...,QYFVTGATGFIGKRLVRKLLDRRGSTVHFLLRPESERKLPELLAYW...,WERNLDPDLFIDRSLRGTVGGKVVL,VTGGSSGIGLAAACKFAEAGAVTVICARDADKLDEAVKEIKAFAGK...,DEAGCKAFLEALQAEHGGVDFLINN,AGRSIRRAIENSYERFHDFERTMQLNY,FGCLRVTMGVLPGMVAKRKGHVVNISSIGVLTNAPRFSAYVASKAA...,TTINMPLVRTPMIAPTKIYNNVPT,LAPEEAADMIAQACVYKPVRIATRLGTAGQVLHALAPRVAQIVMNT...,FPDSEAAKGEKGAKPQLSAEAVALQQMMRGIHF
t,MKIEEGKLVIWINGDKGYNGLAEVGKKFEKDTGIKVTVEHPDKLEE...,QYFVTGATGFIGKRLVRKLLDRRGSTVHFLLRPESERKLPELLAYW...,WERHLDPDLFIDRSLRGTVGGKVVL,VTGGSSGIGLAAACKFAEAGAVTVICARDADKLDEAVKEIKAFAGK...,DEAGCKAFLEALQAEHGGVDFLINN,AGRSIRRAIENSYERFHDFERTMQLNY,FGCLRVTMGVLPGMVAKRKGHVVNISSIGVLTNAPRFSAYVASKAA...,TTINMPLVRTPMIAPTKIYNNVPT,LAPEEAADMIAQACVYKPVRIATRLGTAGQVLHALAPRVAQIVMNT...,FPDSEAAKGEKGAKPQLSAEAVALQQMMRGIHF

In [3]:
#Load the sequence and block dict
rbdict=pd.read_excel('Round_And_Block_Dict_20200916.xlsx').set_index('Name')

#Update the block sequence for MT-ACR to account for the slight variation at the AHR-ATR boundary for the WT
rbdict.loc['MT-ACR']['Block Sequence']=4333333
rbdict.head()

         Block Sequence  Round
Name
MB-ACR       22222222.0    0.0
MT-ACR        4333333.0    0.0
MA-ACR       11111111.0    1.0
MAB-ACR      22222222.0    1.0
MAT-ACR      33333333.0    1.0

In [4]:
#Function to translate the sequences from numberic blocks to alphabetical
def num_to_alpha(chimseq,mapping):
    '''input a chimera sequence as a list of numbers and translate it to an alphabetical character 
       mapping should be of the format {'1':'A',...}'''
    
    new_seq=''
    
    for char in chimseq:
        new_seq=new_seq+mapping[char]
        
    return new_seq

In [5]:
#Update rbdict to have the alphabetical notation

rbdict['ATR_Block_Sequence_Alphabetical']=[num_to_alpha(str(int(rbdict.loc[s]['Block Sequence'])),{'1':'A','2':'B','3':'T','4':'t'}) if s not in ['EV','EB'] else 'n/a' for s in rbdict.index]

#Add the notation for the AHR domain

rbdict['Full_seq']=['B-'+rbdict.loc[s]['ATR_Block_Sequence_Alphabetical'] if s[:2]=='MB' 
                    else 'T-'+rbdict.loc[s]['ATR_Block_Sequence_Alphabetical'] if s[:2]=='MT' 
                    else 'n/a' if s in ['EV','EB'] 
                    else 'A-'+rbdict.loc[s]['ATR_Block_Sequence_Alphabetical'] for s in rbdict.index]

In [6]:
#Function to add the full amino acid sequence

def Make_AA_seq(chimseq):
    '''chimseq is the alphabetical notation for the ACR sequence'''
    
    #Start with the AHR domain
    aa_seq=seq_tab.loc[chimseq[0]]['AHR_Domain']
    
    #Loop through the blocks and add the aa sequence of each block
    
    for i in range(len(chimseq[2:])):
        aa_seq=aa_seq+seq_tab.loc[chimseq[i+2]][i+1]
    
    return aa_seq

# Relabeling the Sequences

In [7]:
#Append the full AA sequence (excluding the MBP tag) to the dictionary
rbdict['AA_seq']=[Make_AA_seq(rbdict.loc[s]['Full_seq']) if s not in ['EV','EB'] else 'n/a' for s in rbdict.index ]
rbdict.head()

,Block Sequence,Round,ATR_Block_Sequence_Alphabetical,Full_seq,AA_seq
Name,,,,,
MB-ACR,22222222.0,0.0,BBBBBBBB,B-BBBBBBBB,NYFVTGGTGFIGRFLIAKLLARGAIVHVLVREQSVQKLADLREKLG...
MT-ACR,4333333.0,0.0,tTTTTTT,T-tTTTTTT,QYFVTGATGFIGKRLVRKLLDRRGSTVHFLLRPESERKLPELLAYW...
MA-ACR,11111111.0,1.0,AAAAAAAA,A-AAAAAAAA,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
MAB-ACR,22222222.0,1.0,BBBBBBBB,A-BBBBBBBB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
MAT-ACR,33333333.0,1.0,TTTTTTTT,A-TTTTTTTT,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...

Now, load each of the raw data tables and update labels, starting with the RL08ara dataset. The file for RL08ara is slightly modified from the original raw data file (20200912_Finalized_RL08ara_Dataset_with_all_R-OHs.xlsx). The only modification is that "Outlier" has been added to the notes column for all samples collected on 03/12/2020 and the ACR-80 sample collected on 02/24/2020. These were previously determined to be outliers, and the change to the data file is just to speed up processing.

In [8]:
#RL08ara Dataset

rl08=pd.read_excel('Raw_In_Vivo_Data/RL08ara_Raw_Data_Final_Compilation.xlsx')

#Drop out the outliers

rl08=rl08[rl08['Notes']!='Outlier']

rl08['Block_seq']=[rbdict.loc[L]['Full_seq'] for L in rl08['Label']]
rl08['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in rl08['Label']]
rl08.head()

,Sample,Label,C4,C6,C8,C10,C12,C14,C16,Date,Sum C6-C16,OD (10 fold diluted),Expression (ug/mL),Notes,Block_seq,AA_seq
0,ACR-23-1,ACR-23,25.182822,0.003181,0.289746,0.083393,0.007317,0.129956,3.109783,2018-11-10,3.623375,0.94,Not measured,NaN,A-ATBBBAAT,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
1,ACR-23-2,ACR-23,32.516454,0.012752,0.328272,0.120304,0.012706,0.204543,3.481493,2018-11-10,4.160071,0.9,Not measured,NaN,A-ATBBBAAT,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
2,ACR-23-3,ACR-23,12.412308,0.043675,0.323899,0.111672,0.017324,0.049573,3.125951,2018-11-10,3.672095,1.09,Not measured,NaN,A-ATBBBAAT,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
3,EV-1,EV,22.147304,0.020582,0.280775,0.106812,0.017569,0.000328,0.842768,2018-11-10,1.268835,0.82,Not measured,NaN,n/a,n/a
4,EV-2,EV,33.359145,0.000216,0.280531,0.053118,0.001607,0.008924,0.764943,2018-11-10,1.109339,0.87,Not measured,NaN,n/a,n/a

In [9]:
#CM24 Dataset

cm24=pd.read_excel('Raw_In_Vivo_Data/CM24_Data_Compiled_05-03-19.xlsx')

#Add updated label
cm24['Label']=[L[:6] if L not in ['MAB-ACR','MAT-ACR'] else L[:7] for L in cm24['New Label']]

#Add the 

cm24['Block_seq']=[rbdict.loc[L]['Full_seq'] for L in cm24['Label']]
cm24['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in cm24['Label']]
cm24.head()

,Original Label,New Label,C4,C6,C8,C10,C12,C14,C16,Date,Total,Label,Block_seq,AA_seq
0,ACR-01,ACR-01,1.720463,0.464916,2.850000e-06,0.612468,2.561889,6.003040,4.407555,2018-08-24,14.049871,ACR-01,A-ATAATTBB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
1,ACR-01,ACR-01,0.022974,0.312578,1.800000e-05,0.152153,0.464539,0.919264,1.448962,2018-08-31,3.297513,ACR-01,A-ATAATTBB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
2,ACR-01,ACR-01,0.000000,0.407377,1.450000e-05,0.114713,0.512077,2.157295,1.231996,2018-09-14,4.423472,ACR-01,A-ATAATTBB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
3,ACR-02,ACR-02,1.250649,0.382855,9.850000e-07,0.108710,0.060483,0.459679,0.912048,2018-08-24,1.923776,ACR-02,A-TATTTTAB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
4,ACR-02,ACR-02,0.001907,0.346500,0.000000e+00,0.055396,0.202487,0.200427,0.859288,2018-08-31,1.664099,ACR-02,A-TATTTTAB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...

In [10]:
#BL21 (DE3) Datasest

bl21=pd.read_excel('Raw_In_Vivo_Data/20210722_BL21_Combined_Data.xlsx',index_col=0)
bl21['Block_seq']=[rbdict.loc[L]['Full_seq'] for L in bl21.index]
bl21['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in bl21.index]
bl21.head()

,C8,C10,C12,C14,C16,Date,Block_seq,AA_seq
ACR-01,0.020287,0.016947,0.009451,0.002879,0.031867,06/04/2018,A-ATAATTBB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
ACR-10,0.010074,0.030559,0.024533,0.036099,0.049106,06/04/2018,A-TTBAATTA,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
ACR-11,0.022806,0.048823,0.037552,0.063152,0.081637,06/04/2018,A-ATBTATTA,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
ACR-12,0.043001,0.033415,0.014982,0.008312,0.059112,06/04/2018,A-BAABTTAA,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...
ACR-13,-0.000501,0.001856,0.001907,-0.001363,0.015669,06/04/2018,A-BTTAAATB,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...

In [11]:
#Make new excel spreadsheets

bl21.to_excel('Relabeled_Data/BL21_Relabeled.xlsx')
cm24.to_excel('Relabeled_Data/CM24_Relabeled.xlsx')
rl08.to_excel('Relabeled_Data/RL08_Relabeled.xlsx')

# Protabank File Preparation

Make a dataframe with the averaged results for just the titers. Make separate dataframes for OD and expression data to use for making the Protabank input

In [12]:
rl08_avg_titer=pd.DataFrame(index=sorted(list(set(rl08['Label']))),columns=['C6','C8','C10','C12','C14','C16','Sum C6-C16'])

for L in rl08_avg_titer.index:
    rl08_avg_titer.loc[L]=rl08[rl08['Label']==L].filter(like='C').dropna().mean()

#Add the number of replicates considered in the mean
rl08_avg_titer['n']=[len(rl08[rl08['Label']==L].filter(like='C').dropna()) for L in rl08_avg_titer.index]

#Add the amino acid and block sequences
rl08_avg_titer['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in rl08_avg_titer.index]
rl08_avg_titer['Block_seq']=[rbdict.loc[L]['Full_seq'] for L in rl08_avg_titer.index]

rl08_avg_titer.head()

,C6,C8,C10,C12,C14,C16,Sum C6-C16,n,AA_seq,Block_seq
ACR-01,0.0440902,0.207903,0.232642,0.0838429,0.603433,0.356756,1.52867,3,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-ATAATTBB
ACR-02,0.0151981,0.130365,0.165979,0.0999762,0.397758,3.03178e-05,0.809306,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-TATTTTAB
ACR-03,0.00214639,0.190721,0.242049,0.142327,0.355233,0,0.932477,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-TTTTBTBA
ACR-04,0.0057821,0.147189,0.149259,0.0715052,0.221291,2.54593e-05,0.595051,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-ATTBAATB
ACR-05,0.0183986,0.232916,0.177244,0.142237,0.346404,3.43093e-05,0.917234,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-ABTATTTA

In [13]:
#Make the OD dataframe (For RL08ara)
rl08_avg_OD=pd.DataFrame(index=rl08_avg_titer.index)
rl08_OD=pd.DataFrame(index=rl08.index)
rl08_OD['Label']=rl08['Label']
rl08_OD['OD_10_fold']=rl08['OD (10 fold diluted)']

rl08_OD=rl08_OD[rl08_OD['OD_10_fold']!='Not measured']

rl08_avg_OD['OD_10_fold']=[rl08_OD[rl08_OD['Label']==L]['OD_10_fold'].mean() for L in rl08_avg_OD.index]
rl08_avg_OD['OD']=rl08_avg_OD['OD_10_fold']*10
rl08_avg_OD['n']=[len(rl08_OD[rl08_OD['Label']==L]['OD_10_fold']) for L in rl08_avg_OD.index]
rl08_avg_OD['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in rl08_avg_OD.index]
rl08_avg_OD['Block_seq']=[rbdict.loc[L]['Full_seq'] for L in rl08_avg_OD.index]


rl08_avg_OD.head()

,OD_10_fold,OD,n,AA_seq,Block_seq
ACR-01,1.042,10.42,3,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-ATAATTBB
ACR-02,1.190,11.90,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-TATTTTAB
ACR-03,1.060,10.60,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-TTTTBTBA
ACR-04,0.960,9.60,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-ATTBAATB
ACR-05,1.060,10.60,1,NYFLTGGTGFIGRFLVEKLLARGGTVYVLVREQSQDKLERLRERWG...,A-ABTATTTA

In [14]:
#Make the Expression Level Data Frame 
rl08_exp=rl08[rl08['Expression (ug/mL)']!='Not measured']
rl08_avg_exp=pd.DataFrame(index=sorted(list(set(rl08_exp['Label']))))

rl08_avg_exp['Expression_Level_(Âµg/mL)']=[rl08_exp[rl08_exp['Label']==L]['Expression (ug/mL)'].mean() for L in rl08_avg_exp.index]
rl08_avg_exp['n']=[len(rl08_exp[rl08_exp['Label']==L]['Expression (ug/mL)']) for L in rl08_avg_exp.index]

rl08_avg_exp['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in rl08_avg_exp.index]
rl08_avg_exp['Block_seq']=[rbdict.loc[L]['Full_seq'] for L in rl08_avg_exp.index]

Now make files for the CM24 and BL21 (DE3) datasets and export the files to a format that can be uploaded to Protabank.

In [15]:
#Average the CM24 Dataset 
cm24_avg=pd.DataFrame(index=sorted(list(set(cm24['Label']))),columns=cm24.columns)

for L in sorted(list(set(cm24['Label']))):
    cm24_avg.loc[L]=cm24[cm24['Label']==L].mean() #This method is fast but causes problems with the sequence labels
    
#Relabel the amino acid sequences
cm24_avg['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in cm24_avg.index]

#Make new dataframe to export to protabank
cm24_protabank=pd.DataFrame(cm24_avg[['AA_seq','C6','C8','C10','C12','C14','C16','Total']])
cm24_protabank.set_index('AA_seq',inplace=True)

#Drop the empty vector/empty backbone measurements out of the dataset
cm24_protabank.drop('n/a',axis=0,inplace=True)

#Export the CM24 data to a dataframe
cm24_protabank.to_excel('Protabank_Files/CM24_data.xlsx')

In [16]:
#Average the BL21 Dataset 
bl21_avg=pd.DataFrame(index=sorted(list(set(bl21.index))),columns=bl21.columns)

for L in sorted(list(set(bl21.index))):
    bl21_avg.loc[L]=bl21[bl21.index==L].mean()
    
#Relabel the amino acid sequences
bl21_avg['AA_seq']=[rbdict.loc[L]['AA_seq'] for L in bl21_avg.index]

#Make new dataframe to export to protabank
bl21_protabank=pd.DataFrame(bl21_avg[['AA_seq','C8','C10','C12','C14','C16']])
bl21_protabank.set_index('AA_seq',inplace=True)

#Drop the empty vector/empty backbone measurements out of the dataset
bl21_protabank.drop('n/a',axis=0,inplace=True)

#Export the bl21 data to a dataframe
bl21_protabank.to_excel('Protabank_Files/BL21(DE3)_data.xlsx')

Now combine the various RL08ara datasets into one spreadsheet and export it.

In [18]:
#Package all the data into one dataframe for protabank
rl08_protabank=pd.DataFrame(rl08_avg_titer[['AA_seq','C6','C8','C10','C12','C14','C16','Sum C6-C16']])
rl08_protabank['OD']=rl08_avg_OD['OD']
rl08_protabank['Expression Level (Âµg/mL at OD 20)']=[rl08_avg_exp.loc[L]['Expression_Level_(Âµg/mL)'] if L in rl08_avg_exp.index else 'Not Measured' for L in rl08_protabank.index]

#Reindex the data
rl08_protabank.set_index('AA_seq',inplace=True)

#Drop the empty vector/empty backbone measurements out of the dataset
rl08_protabank.drop('n/a',axis=0,inplace=True)

rl08_protabank.to_excel('Protabank_Files/RL08_ara_data.xlsx')

# Relabel Samples With New Notation
Originally the samples were labeled as ACR (for acyl-CoA reductase). However, the nomenclature was changed to try and clarify the function of the enzmyes. This portion of the notebook is for updating the nomenclature.

In [54]:
#Make a dictionary of the AHR-ACR fusion proteins. 
fusion_dict={'MA-ACR':'MA-ACR (Parent A)','MB-ACR':'MB-ACR','MT-ACR':'MT-ACR','MAB-ACR':'Parent B (Fusion A-B)',
             'MAT-ACR':'Parent T (Fusion A-T)','MTB-ACR':'Fusion T-B','MTA-ACR':'Fusion T-A','MBA-ACR':'Fusion B-A',
             'MBT-ACR':'Fusion B-T','EV':'Empty Vector','EB':'Empty Backbone'}

#Create a new dictionary to update the index
new={L:fusion_dict[L] if L[0]!='A' else 'ATR-'+L.split('-')[1] for L in rbdict.index}